<div style="position: absolute; left: -.1em; top: .6em; width: 13%; font-size: 10em">P</div>
<div style="position: absolute; left: 10%; top: .6em; width: 13%; font-size: 4em; color: #666666">A</div>
<div style="position: absolute; left: 30%; top: 0; width: 13%; font-size: 2em; color: #999999">B</div>
<div style="position: absolute; right: 30%; top: 0; width: 13%; font-size: 2em; color: #999999">C</div>
<div style="position: absolute; right: 10%; top: .6em; width: 13%; font-size: 4em; color: #666666">A</div>
<div style="position: absolute; right: .1em; top: .6em; width: 13%; font-size: 10em">S</div>
<div style="width:100%; position: absolute; left: 0; top: 4.6em; text-align:center; font-size: 1.5em; letter-spacing: .2em; word-spacing: .4em">Thoughts, links, pictures on music, food, film, tech etc.</div>
<div class="clear"></div>
<div class="main">
  


  <!-- <div class="dr35 things i like to talk about">
    <ul>
      <li class="this is what i am passionate about"><a href="music">Music</a></li>
      <li class="this sustains me"><a href="food">Food</a></li>
      <li class="this pays my bills"><a href="webtech">Web / Tech</a></li>
      <li class="this is my creative vision"><a href="film">Film</a></li>
      <li class="this separates business from art"><a href="entrepreneurship">Entrepreneurship</a></li>
    </ul>
  </div> -->
  
  <div class="fluid this is where i put stuff">
    
    <%- @posts.each do |post| -%>
      <%= render :partial => "posts/views/#{post.type}", :locals => {:post => post} %>
    <%- end -%>

  </div>
  <div class="clear">&nbsp;</div>
</div>