<div class="this is something i took">

  <p class="the time goes here">
    <em><%= time_ago_in_words(post.created_at) %> ago</em>
  </p>

  <p class="about">
    I <strong><%= post.verb %></strong> this:
  </p>

  <img src="<%= post.path %>">

  <p><%= post.content %></p>

</div>

<hr />