<div class="this is something i took">

  <p class="the time goes here">
    <em><%= time_ago_in_words(post.created_at) %> ago</em>
  </p>

  <p class="about">
    I <strong><%= post.stuffing_verb %></strong> this:
  </p>

  <%- if post.assets.not.empty? and post.assets.first.file_file_name.not.blank? -%>
    <%= image_tag(post.assets.first.file.url(:medium)) %>
  <%- end -%>

  <p><%= post.stuffing_content %></p>

</div>

<hr />