<div class="this is something i took">

  <p class="the time goes here">
    <em><%= time_ago_in_words(post.created_at) %> ago</em>
  </p>

  <p class="about">
    I <strong><%= post.stuffing_verb %></strong> this:
  </p>

  <%- if post.stuffing['_attachments'] -%>
    <img src="<%= attachment_post_path(post.id) %>">
  <%- end -%>

  <p><%= post.stuffing_content %></p>

</div>

<hr />