<div class="this is something i wrote">
  <p class="the time goes here">
    <em><%= time_ago_in_words(post.created_at) %> ago</em>
  </p>

  <p class="about">
    I <strong><%= post.stuffing_verb %></strong> this:
  </p>
          
  <h3><%= link_to post.title, post_url(post.id) %></h3>
          
  <%= textilize(post.stuffing_content) %>

</div>

<hr />