<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Posts</title>
     <link  href="/stylesheets/reset-min.css" rel="stylesheet" type="text/css">
     <link  href="/stylesheets/grid-min.css" rel="stylesheet" type="text/css">
     <link  href="/stylesheets/type-min.css" rel="stylesheet"  type="text/css">
     <!--[if IE]><link  href="/stylesheets/ie-min.css" type="text/css" rel="stylesheet"><![endif]-->
     <link href="/stylesheets/application.css" rel="stylesheet"  type="text/css">
     <script type="text/javascript" src="/javascripts/jquery.js" charset="utf-8"></script>
     <script type="text/javascript" src="/javascripts/application.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="main">
      <%= yield %>
    </div>
  </body>

</html>
